# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:@@123@IP/PORTA/seguranca?schema=public"
JWT_SECRET=*****
JWT_EXPIRES_IN=12h

STMP_EMAIL=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=


S3_CHAVE_ACESO=
S3_SENHA=
S3_URL=

ONE_SIGNAL_APP_ID=
ONE_SIGNAL_REST_API_KEY=

#CRIAR CONTAINER COM UTF-8 e horário SP
## docker run --name postgres-container -e LANG=de_DE.utf8 -e TZ=America/Sao_Paulo -e POSTGRES_PASSWORD=@@123 -p 5432:5432 -d postgres